.cont{
    box-sizing: border-box;
    padding: 10px 2%;
    background-color: white;
    
   
}


.bottomCont{
    box-sizing: border-box;
   padding: 0px;
    margin: 0px;
    background-color: white;
    box-shadow:  0 0.375em 1em rgba(0, 0, 0, 0.1);
}

#contentHeader{
    box-sizing: border-box;
    padding: 0px 2%;
    background-color: white;
    padding-bottom:  10px;
      box-shadow:  0 0.1em 1em rgba(0, 0, 0, 0.1);
   margin-bottom: 15px;
}

body{
    background-color: #fafafa !important;
}

.container-flex{
    margin: 1%;
    margin-top: 60px !important;
   
}

#search-header.cont{
    margin: 0px !important;
    font-size: 1.2em;
    
}

#search-bar{
    box-shadow: none !important;
    padding: 0.75% 2% 0.75% 2%;
    border-bottom: 5px solid rgba( 0,0,0,0.1);
    cursor: pointer;
}



#search-toggle-btn{
   cursor: pointer;
    float: right;
}

#searchbarCollapse{
    max-height: 0px;
    transition: all 0.5s ease-out;
    padding-top : 1.5%; 
    
}

#searchbarCollapse.active{
    max-height: 300px;
    transition: all 1s ease-out;
}

.form-radio
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: red;
     color: #666;
     top: 10px;
     height: 30px;
     width: 30px;
     border: 0;
     border-radius: 50px;
     cursor: pointer;     
     margin-right: 7px;
     outline: none;
}
.form-radio:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
}
.form-radio:hover
{
     background-color: #f7f7f7;
}
.form-radio:checked
{
     background-color: #f1f1f1;
}
.form-radio
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #f1f1f1;
     color: #666;
     top: 10px;
     height: 30px;
     width: 30px;
     border: 0;
     border-radius: 50px;
     cursor: pointer;     
     margin-right: 7px;
     outline: none;
}

.tableInputLeaves{
	    border: none;
    background-color: transparent;
   
    outline: none;
}
}


.modal-confirm {		
		color: #636363;
		width: 400px;
	}
	.modal-confirm .modal-content {
		padding: 20px;
		border-radius: 5px;
		border: none;
        text-align: center;
		font-size: 14px;
	}
	.modal-confirm .modal-header {
		border-bottom: none;   
        position: relative;
	}
	
	.modal-confirm .modal-body {
		color: #999;
	}
	.modal-confirm .modal-footer {
		border: none;
		text-align: center;		
		border-radius: 5px;
		font-size: 13px;
		padding: 10px 15px 25px;
	}
	.modal-confirm .modal-footer a {
		color: #999;
	}		
	
	
    .modal-confirm .btn {
        color: #fff;
        border-radius: 4px;
		text-decoration: none;
		transition: all 0.4s;
        line-height: normal;
		min-width: 120px;
        border: none;
		min-height: 40px;
		border-radius: 3px;
		margin: 0 5px;
		outline: none !important;
    }
	

@media only screen and (max-width: 425px) {
 #contentHeader{ 
    margin-bottom: 5px;
    }
    
#search-bar{
  
    border-bottom: 0px solid rgba( 0,0,0,0.1);
    
}
    
    
  }